@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 16px;
	@apply font-heebo text-dark-800;
}

.wrapper {
	@apply relative px-4 desktop:mx-auto desktop:w-[1200px] desktop:px-0;
}

.dir-rtl {
	direction: rtl;
}

.dir-ltr {
	direction: ltr;
}
